* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 96px 200px;
  max-width: 1920px;
  width: 100%;
  height: 1046px;
}

.left-side img {
  width: 800px;
  height: 854px;
  overflow: hidden;
}
.right-side {
  padding: 96px 0;
  width: 720px;
  height: 854px;
  /*background-color: #8bcbd4;*/
}

.leave-request {
  width: 512px;
  height: 662px;
  margin: 0 104px;
  /*background-color: #9f6363;*/
}
.leave-request h2 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 125%;
  letter-spacing: -0.02em;
  color: #101828;
  /*text-align: center;*/
  margin-bottom: 48px;
}
.request-inner {
  width: 512px;
  height: 554px;
  /*background-color: #aaddb6;*/
}
.request-item {
  display: flex;
  flex-direction: column;
}

.request-item form  p {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 125%;
  color: #344054;
  padding-bottom: 5px;
}
.request-item form input {
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  padding: 12px 16px;
  width: 100%;
  height: 48px;
  margin-bottom: 24px;
  font-family:"Inter", sans-serif; ;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #667085;
  cursor: pointer;
}
.gender p {
  font-family:"Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #344054;
  padding-bottom: 5px;
}
.gender-radio {
  border: 1px solid #d0d5dd;
  width: 15px;
  height: 15px;
  margin-right: 12px;
  cursor: pointer;

}
.gender label {
  margin-right: 64px;
}
.select {
  border-radius: 8px;
  width: 116px;
  height: 48px;
  font-family: "Inter", sans-serif;
  margin-top: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #344054;
  cursor: pointer;
  border: 1px solid #d0d5dd;
  padding: 12px 20px;
  background-color: #ffffff;
}

label[for="policy"] {
  margin-top: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #667085;
  margin-bottom: 32px;
  cursor: pointer;
}
label a {
  color: inherit;
  text-decoration: underline;
}

.btn-register {
  border: 1px solid #7f56d9;
  border-radius: 8px;
  padding: 12px 20px;
  width: 100%;
  height: 48px;
  background-color: #7f56d9;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 1280px) {
  .container {
    padding: 96px 80px;
    max-width: 1280px;
    height: 1046px;
  }
  .left-side img {
    width: 551px;
  }
  .leave-request {
    padding: 0 32px;
    margin: 0;
    width: 569px;
  }
}

@media (max-width: 760px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px;
    max-width: 760px;
    height: 1230px;
  }
  .left-side img {
    width: 640px;
    height: 400px;
  }

  .right-side {
    margin-top: 48px;
    padding: 0 32px;
    width: 639px;
    height: 662px;
  }
}
